<%= form_with model: post do |f| %>
  <% if post.errors.any? %>
    <div style="color: red;">
      <h2><%= post.errors.count %>件のエラーがあります</h2>
      <ul>
        <% post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.label :title, "タイトル" %><br>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :content, "内容" %><br>
    <%= f.text_area :content %>
  </div>

  <div>
    <%= f.submit yield(:button_text) %> <%# ボタンの文字を呼び出し元で変えられるようにする %>
  </div>
<% end %>
