<h1>掲示板</h1>

<% if flash[:notice] %>
  <p style="color: green;"><%= flash[:notice] %></p>
<% end %>
<% if flash[:alert] %>
  <p style="color: red;"><%= flash[:alert] %></p>
<% end %>

<%= link_to "新規投稿", new_post_path %>

<hr>

<% @posts.each do |post| %>
  <div style="border-bottom: 1px solid #ccc; margin-bottom: 10px; padding-bottom: 10px;">
    <h2><%= link_to post.title, post_path(post) %></h2> <%# タイトルをリンクに %>
    <p><%= post.content %></p>
    
    <div>
      <%= link_to "詳細", post_path(post) %>
      <% if authenticated? && post.user == Current.user %>
        | <%= button_to "削除", post_path(post), method: :delete, data: { confirm: "本当に削除しますか？" }, style: "display: inline;" %>
      <% end %>
    </div>
  </div>
<% end %>
